<div class="article-full {{#unless data.published}}unpublished{{/unless}}">
  <h1 class="article-title">{{data.title}}</h1>

{{#if data.creator}}<div class="article-creator">
  <p class="post-meta">{{t 'Posted by'}}
    {{#link-to-record record=data.creator}}{{data.creator.displayName}}{{/link-to-record}}
    {{t 'on'}} {{we-date data.createdAt}}
    {{#if data.category}}{{#each data.category}}
      <small>-
      {{#link-to 'term.findOne' 'Category' this}} {{this}} {{/link-to}}
      </small>
    {{/each}}{{/if}}
  </p>
</div>{{/if}}

{{we-action-edit-btn resourceName data req data.id}}
{{we-action-delete-btn resourceName data req data.id}}
{{article-publish-btn record=data req=req}}


{{#unless data.published}}
<div class="article-published-status">
<br>
  <strong>{{t 'form-article-published'}}:</strong> <span class="label label-warning">{{t 'article.unpublished'}}</span>
</div>
{{/unless}}

<div class="article-body">{{{data.body}}}</div>

{{#if data.images}}
  <h4 class="article-galery-title">{{t 'form-article-images'}}</h4>
  <div class="article-galery">
    {{we-fancybox-galery id="articleImageGalery" rel="article" images=data.images style='medium'}}
  </div>
{{/if}}

<div class="article-featured-image">{{we-image data.featuredImage 'original' class="img-thumbnail"}}</div>

{{#if data.attachment}}
  <h4 class="article-attachment-title">{{t 'form-article-attachment'}}</h4>
  <div class="article-attachment">
    <table class="table table-bordered">
      <thead><tr>
        <th>{{t 'Name'}}</th>
        <th>{{t 'Actions'}}</th>
      </tr></thead>
      <tbody>
        {{#each data.attachment}}
          <tr>
            <td data-file-name>{{originalname}}</td>
            <td>
              <a class="btn btn-default" href="{{urls.original}}" text="{{originalname}}" download="{{originalname}}">{{t 'download'}}</a>
            </td>
          </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
{{/if}}

{{#if data.tags}}
  <div>{{t 'form-article-tags'}}: {{we-terms data.tags }}</div>
  <div class="clearfix"> </div>
{{/if}}
<hr>
</div>