<div class="actions">
  {{we-action-create-btn 'article' req}}

  {{#can permission='access_articles_unpublished' roleNames=req.userRoleNames}}
    {{#if query.where.published}}
      <a class="btn btn-default" href="{{req.path}}?published=false">{{t 'article.unpublished'}}</a>
    {{else}}
      <a class="btn btn-default" href="{{req.path}}?published=true">{{t 'article.published'}}</a>
    {{/if}}

  {{/can}}

  {{rss-btn locals=this}}
</div>
{{#each data}}
  {{render-record-teaser modelName='article' record=this locals=..}}
  <hr>
{{else}}
  <p>{{t 'article.find.empty'}}</p>
{{/each}}

{{paginate count=metadata.count limit=query.limit currentPage=query.page req=req}}