{{{render-bootstrap-config}}}
{{{render-javascript-tags 'footer'}}}
{{{render-client-component-templates}}}


<!-- Scroll-up -->
<div class="scroll-up">
  <ul><li><a href="#header"><i class="fa fa-angle-up"></i></a></li></ul>
</div>

<!-- FOOTER -->
<footer id="footer">
  <div class="container">
    <div class="row">
      <!-- SOCIAL ICONS -->
      <div class="col-sm-6 col-sm-push-6 footer-social-icons">
      {{#if socialMenu}}
        {{we-menu socialMenu  class="nav navbar-nav navbar-right"}}
      {{/if}}
      </div>
      <!-- /SOCIAL ICONS -->
      <div class="col-sm-6 col-sm-pull-6 copyright">
        <p>{{appName}}</p>
      </div>
    </div>
  </div>
</footer>
<!-- /FOOTER -->